name: Pull Request

on:
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:

jobs:
  tests:
    name: PR
    uses: swift-libp2p/github-workflows/.github/workflows/pull_request.yml@main
    with:
      test_in_release_configuration: true
